body {
  background-color: #808080;
}

.prof{
position:absolute;
left:380px;
top:40px}


.name{
position:absolute;
left:405px;
top:240px}


.text1{
position:absolute;
left:100px;
top:340px}


.text2{
position:absolute;
left:100px;
top:380px}


.text3{
position:absolute;
left:100px;
top:550px}


.link1{
position:absolute;
left:280px;
top:550px}


.link2{
position:absolute;
left:280px;
top:610px}



